{{define "correct"}}
<h1 class="text-2xl text-card-foreground font-bold text-center mb-4">
  This is correct
</h1>
{{end}}

{{define "wrong"}}
<h1 class="text-2xl text-card-foreground font-bold text-center mb-4">
  This is not correct
</h1>
{{end}}
