{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is for answer question every day">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="./static/style/output.css" rel="stylesheet">
    <title>Question of the day</title>
    <script src="/static/js/htmx.min.js"></script>
</head>
<body class="bg-background text-foreground">
  <div className="flex flex-col min-h-screen bg-background text-foreground">
  <header className="bg-background text-foreground p-4 border-b border-border">
    <h1 className="text-xl font-semibold text-center opacity-80">Question Of Today</h1>
  </header>
  <main className="flex-grow flex items-center justify-center p-4">
    {{ block "content" . }}
      <p>Default Content.  This should be overridden.</p>
    {{ end }}
  </main>
</body>
</html>
{{ end }}
